        nav {
            color: white;
            background-color: #D35649;
            display: list-item;
            /* height: 50px; */
            font-size: larger;
        }
        
        .head-right {
            /* float: left; */
            /* padding-right: 2%; */
            height: 50px;
            width: 100%;
            /* overflow: auto; */
        }
        
        .head-right a {
            /* display: inline; */
            padding-right: 25px;
            padding: 12px;
            text-decoration: none;
            font-size: 17px;
            float: right;
            color: white;
        }
        
        .head-right a:hover {
            background-color: #ff6b5b;
        }
        
        .image-Header {
            background-image: url(../../Assets/Images/group-1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-origin: content-box;
            width: 100%;
        }